.home {
	padding: 56px 0px;
}
.newsContainer{
	display: flex;
	width: 100vw;
	flex-direction: row;
	flex-wrap: wrap;
}
.wd50{
	width: 50%;
}
.loadingCnt{
	width: 100%;
	text-align: center;
}
.loadingCnt img{
	width: 50vh;
}