.settings {
	position: relative;
	padding: 65px 20px 20px 20px;
	max-width: 500px;
	margin: 0 auto;
	height: 100%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.homeSelect{
	height: 30px;
	font-size: 16px;
	margin: 10px 0;
	padding: 5px;
}

.topicsSelect{
	width: 100%;
	font-size: 16px;
	margin: 10px 0;
	display: block;
	padding: 5px;
}

.formActions{
	margin: 10px 0 50px 0;
}

.footer{
	width: 100%;
  text-align: center;
	font-size: 14px;
	padding: 20px 0;
}

.footer a {
	color: #444 !important;
}

@media only screen and (max-width: 420px){
	.homeSelect{
		width: 100%;
	}
	.formActions{
		text-align: center;
	}
}